<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Admin</h2>
    </header>
    <div class="container">
        <section>
            <h4>Benutzer verwalten</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUsers">Benutzerverwaltung öffnen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h4>Rollen verwalten</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="Admin" asp-action="ManageRoles">Rollenverwaltung öffnen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>