@using FluiTec.AppFx.AspNetCore.Examples.AuthExample.Resources.Views.Account
@inject IHtmlLocalizer<ResetPasswordConfirmationResource> Localizer

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>@Localizer.GetString(() => ResetPasswordConfirmationResource.Header)</h2>
    </header>
    <div class="container">
        <section>
            <div class="row uniform">
                <p>@Localizer.GetString(() => ResetPasswordConfirmationResource.Text)</p>
            </div>
        </section>
    </div>
</section>