<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<head>
		<title><localize>ApplicationName</localize></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<environment names="Development">
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
		</environment>
		<environment names="Staging,Production">
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
		</environment>
	</head>
</cache>