<!DOCTYPE html>
<html lang="System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
	@Html.Partial("_Head")
	<body>
		@RenderBody()
		@Html.Partial("_OptionalScripts")
	</body>
</html>