@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.PageableModel<FluiTec.AppFx.Localization.Entities.ResourceEntity>

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Localization</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Resources</h3>
            @Html.Partial("_PageNavigation", Model)
            @if (Model != null && Model.Items.Any())
            {
                <ul class="list-group">
                    @foreach (var resource in Model.Items)
                    {
                    <li class="list-group-item d-flex justify-content-between align-items-center text-truncate">
                        <a asp-action="Translations" asp-route-resourceKey="@resource.ResourceKey">@resource.ResourceKey</a>
                    </li>
                    }
                </ul>
            }
            else
            {
                <p>No resources available.</p>
            }
        </section>
    </div>
</section>