<h4>Rechte verwalten</h4>
<hr />
<div id="accordion">
    <div class="card">
        <div class="card-header" id="userRights-header">
            <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#userRights" role="button" aria-expanded="True" aria-controls="collapsibleRights">Benutzerrechte</button>
            </h5>
        </div>
        <div class="collapse show row right-details" id="userRights" data-parent="#accordion">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-info" id="userRights-addon">Zugriff</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-primary" id="userRights-addon">Erstellen</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-success" id="userRights-addon">Lesen</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-warning" id="userRights-addon">Bearbeiten</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-danger" id="userRights-addon">Löschen</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="roleRights-header">
            <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#roleRights" role="button" aria-expanded="False" aria-controls="collapsibleRights">Rollenrechte</button>
            </h5>
        </div>
        <div class="collapse row right-details" id="roleRights" data-parent="#accordion">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-info" id="userRights-addon">Zugriff</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-primary" id="userRights-addon">Erstellen</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-success" id="userRights-addon">Lesen</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-warning" id="userRights-addon">Bearbeiten</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend input-width-fixed">
                        <span class="input-group-text input-width-fixed text-danger" id="userRights-addon">Löschen</span>
                    </div>
                    <select class="custom-select mr-sm-2" aria-describedby="userRights-addon">
                        <option value="0">nicht definiert</option>
                        <option value="1" selected>verweigern</option>
                        <option value="2">erlauben</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>