<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Privacy</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Collected data</h3>
            <p>As the purpose of this homepage is the identification of entitled users - it collections personal data upon registration, this includes:</p>
            <ul>
                <li>Name</li>
                <li>Mail</li>
                <li>Phone</li>
            </ul>
            <h3>Usage of personal data</h3>
            <p>The gained data serves the purpose of making sure you are allowed to use a certain application, thus - will be forwarded to the requested application with your consent.</p>
            <p>The data is forwared using the OpenId-Connect interface, allowing the application to gain access to your personal data.</p>
            <h3>Right to information</h3>
            <p>Upon request of yourself, we'll inform you - according to the legal right wether and which personal data is saved about you.</p>
            <h3>Safety</h3>
            <p>Wir use techninal and organizational measuress in order to protect the saved data from random or intended manipulation, loss, destruction or unauthorized access. These measures are improved according to the technical development.</p>
            <h3>Cookies</h3>
            <p>This application uses cookies and informs accordingly.</p>
            <p>The used cookies serve the usability of the application and safety of your data.</p>
            <p>Cookies are small textfiles, which your browser - and our server send to each other, enabling us to know you're logged in and which rights are associated with your account.</p>
            <h3>Limitation of liability</h3>
            <p>The content of this application was composed with utmost care and remorse conscience. However - we are not liable for currentness of data, completeness or accuracy of the content.</p>
            <p>As the service-provider, according to §7 Abs. 1 TMG, we are responsible for the published information in respect of law; according to §8 to 10 TNG however - we are not obligated to supervise given external data. Removal or suspension of such content, will be carried out on the spot upon knowledge of a concrete encroachment. Accountablility is only possible after knowledge of such.</p>
            <h3>External links</h3>
            <p>The application contains external links to other homepages, whose content we can not influence. Because of that - we are not liable for that content. The owner of these homepages is responsible for the content and accuracy of his homepage. As of the time of creation of that link - we could not see any encroachment. Upon knowledge of that of such encroachment - we'll remove such links.</p>
            <h3>Copyright</h3>
            <p>The published content is subject to the german copy right. Any kind of duplication, editing, distribution, retention and every kind of utilization apart from the copyright law requires prior, written agreement of the owner. Unauthorized copying of the published content is not allowed and accusable.</p>
            <h3>Security administrator</h3>
            <p>If you have questions about the usage of your data - you can contact our administrator, who's also available for information requests, proposals and complaints.</p>
            <p>
                Name of enterprise <br />
                Securty administrator <br />
                Street <br />
                ZipCode, City
            </p>
            <p>
                <b>Mail:</b> <a href="mailto:datenschutz@testdomain.test">datenschutz@testdomain.test</a><br />
            </p>
        </section>
    </div>
</section>