<cache vary-by="@System.Globalization.CultureInfo.CurrentUICulture.Name" expires-after="@TimeSpan.FromHours(value: 12)">
	<div class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm">	
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">
			<img src="favicon_32.png" width="30" height="30" class="d-inline-block align-top" alt="favicon">
			SimpleApp
		</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">About</a>
				</li>
			</ul>
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="~/icons/profile.png" alt="profile"/></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="~/icons/login.png" alt="login_or_register"/></a>
				</li>
			</ul>
			<form hidden class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Suchen">
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Suchen</button>
			</form>
		</div>
	</div>
</cache>