<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Impressum</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Adresse</h3>
            <p>
                Name des Unternehmens<br />
                Zusätzliche Informationen<br />
                Straße<br />
                PLZ, Ort
            </p>
            <h3>Kontakt</h3>
            <table>
                <tbody>
                <tr>
                    <th scope="row" style="width: 70px;">Telefon:</th>
                    <td>+00 (0000) 00000 - 0</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 70px;">Fax:</th>
                    <td>+00 (0000) 00000 - 0</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 70px;">E-Mail:</th>
                    <td><a href="mailto:test@testdomain.test">test@testdomain.test</a></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 70px;">Homepage:</th>
                    <td><a href="http://test@testdomain.test">test@testdomain.test</a></td>
                </tr>
                </tbody>
            </table>
            <br />
            <h3>Vertretungsberechtigte</h3>
            <p>Name 1, Name 2</p>
            
            <h3>Rechtliches</h3>
            <table>
                <tbody>
                <tr>
                    <th scope="row" style="width: 100px;">Handelsregister:</th>
                    <td>HR Stadt HRA 00000</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 100px;">UST-IdNr.:</th>
                    <td>DE00000000000</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 100px;">Steuer-Nr.:</th>
                    <td>00/000/0000</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>