<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Datenschutz</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Erhebung und Verarbeitung persönlicher Daten</h3>
            <p>Da der Zweck dieser Homepage der Identifizierung berechtiger Benutzer dient - werden bei der Registrierung persönliche Daten erhoben. Dies beinhaltet u.A.:</p>
            <ul>
                <li>Name</li>
                <li>E-Mail</li>
                <li>Telefon</li>
            </ul>
            <h3>Nutzung und Weitergabe persönlicher Daten</h3>
            <p>Die gewonnenen Daten dienen im Wesentlichen der Sicherstellung der berechtigten Nutzung anderer Programme und werden nur mit Ihrer Erlaubnis an Dritte weitergegeben.</p>
            <p>Die Weitergabe solcher Daten erfolgt i.d.R. im Rahmen der OpenId-Connect-Schnittstelle, bei der andere Programme ohne weitere Registrierung Ihre Benutzerdaten erhalten.</p>
            <h3>Auskunftsrecht</h3>
            <p>Auf Anforderung teilen wir Ihnen schriftlich entsprechend dem geltenden Recht mit ob und welche persönlichen Daten über Sie bei uns gespeichert sind.</p>
            <h3>Sicherheit</h3>
            <p>Wir setzen technische und organisatorische Sicherungsmaßnahmen ein, um die zur Verfügung gestellten Daten vor zufälligen oder beabsichtigten Manipulationen, Verlust, Zerstörung oder unberechtigten Zugriff zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.</p>
            <h3>Cookies</h3>
            <p>Diese Homepage setzt Cookies und erfüllt die Hinweispflicht auf den Einsatz dieser.</p>
            <p>Die hier eingesetzten Cookies, dienen der Nutzungsfreundlichkeit und der Sicherheit Ihrer Daten.</p>
            <p>Cookies sind kleine Textdateien, die wir an Sie - und Sie umgekehrt an uns senden und enthalten Daten, die es uns ermöglichen uns zu erkennen, dass Sie bereits angemeldet sind und über welche Rechte Sie auf der Seite verfügen.</p>
            <h3>Haftungsbeschränkung</h3>
            <p>Die Inhalte des Internetauftritts wurden mit größtmöglicher Sorgfalt und nach bestem Gewissen erstellt. Dennoch übernimmt der Anbieter dieser Webseite keine Gewähr für die Aktualität, Vollständigkeit und Richtigkeit der bereitgestellten Seiten und Inhalte.</p>
            <p>Als Diensteanbieter ist der Anbieter dieser Webseite gemäß § 7 Abs. 1 TMG für eigene Inhalte und bereitgestellte Informationen auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich; nach den §§ 8 bis 10 TMG jedoch nicht verpflichtet, die übermittelten oder gespeicherten fremden Informationen zu überwachen. Eine Entfernung oder Sperrung dieser Inhalte erfolgt umgehend ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung. Eine Haftung ist erst ab dem Zeitpunkt der Kenntniserlangung möglich.</p>
            <h3>Externe Links</h3>
            <p>Die Webseite enthält „externe Links“ (Verlinkungen) zu anderen Webseiten, auf deren Inhalt der Anbieter der Webseite keinen Einfluss hat. Aus diesem Grund kann der Anbieter für diese Inhalte auch keine Gewähr übernehmen. Für die Inhalte und Richtigkeit der bereitgestellten Informationen ist der jeweilige Anbieter der verlinkten Webseite verantwortlich. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße erkennbar. Bei Bekanntwerden einer solchen Rechtsverletzung wird der Link umgehend entfernen.</p>
            <h3>Urheberrecht/Leistungsschutzrecht</h3>
            <p>Die auf dieser Webseite veröffentlichten Inhalte, Werke und bereitgestellten Informationen unterliegen dem deutschen Urheberrecht und Leistungsschutzrecht. Jede Art der Vervielfältigung, Bearbeitung, Verbreitung, Einspeicherung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedarf der vorherigen schriftlichen Zustimmung des jeweiligen Rechteinhabers. Das unerlaubte Kopieren/Speichern der bereitgestellten Informationen auf diesen Webseiten ist nicht gestattet und strafbar.</p>
            <h3>Datenschutzbeauftragter</h3>
            <p>Wenn Sie Fragen hinsichtlich der Verarbeitung Ihrer persönlicher Daten haben, können Sie sich direkt an unseren Beauftragten für den Datenschutz wenden, der auch im Falle von Auskunftsersuchen, Anträgen oder Beschwerden zur Verfügung steht:</p>
            <p>
                Name der Firma <br />
                Datenschutzbeauftragter <br />
                Straße <br />
                PLZ, Ort
            </p>
            <p>
                <b>E-Mail:</b> <a href="mailto:datenschutz@testdomain.test">datenschutz@testdomain.test</a><br />
            </p>
        </section>
    </div>
</section>