<head>
    <title>@Model.ApplicationName - @Model.Subject</title>
    <style media="screen" type="text/css">
        body {
            margin: 20px;
            padding: 0;
            background-color: #FFFFFF;
        }

        a:link, a:visited {
            color: #e0555a;
            text-decoration: none;
        }

        a:hover, a:active {
            color: #000000;
        }
    </style>
</head>