<header>
    <div id="landing-header">
        <img src="/icons/mstile-144x144.png" alt="background" />
        <h2>Authentifizierungs-Service</h2>
        <p>Diese Seite dient der Authentifizierung von Benutzern</p>
    </div>
</header>