<header>
    <div id="landing-header">
        <img src="/icons/mstile-144x144.png" alt="background"/>
        <h2>Authentication-Service</h2>
        <p>This page helps authenticate users</p>
    </div>
</header>